<ion-header>
  <ion-toolbar>
    <ion-title center text-center></ion-title>
    <img object-fit: cover src="../../assets/imgs/safrapix3.png" style="align-items: center">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-text-center">
    <ion-card-header>
      <ion-card-title>INFORMAÇÕES</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card text-center>
    <img height="60" width="60" style="float: left; position: static;" src="../../assets/imgs/locaisSafraPayIcon.jpg">
    <h2>Locais com SafraPay</h2>
  </ion-card>
  <ion-card text-center (click)='navUsarCashback()'>
    <img height="60" width="60" style="float: left; position: static;" src="../../assets/imgs/comoUsarCashbackIcon.jpg">
    <h2>Como usar o cashback</h2>
  </ion-card>
  <ion-card text-center padding>
    <img height="60" width="60" style="float: left; position: static;" src="../../assets/imgs/politicaPrivacidadeicon.jpg">
    <h2>Política de privacidade</h2>
  </ion-card>
  <ion-card text-center padding>
    <img height="60" width="60" style="float: left; position: static;" src="../../assets/imgs/atendimentoIcon.jpg">
    <h2 text-align: right> Atendimento</h2>   
  </ion-card>

</ion-content>
