<ion-header>
  <ion-toolbar>
    <ion-title center text-center></ion-title>
			<img  object-fit: cover src="../../assets/imgs/safrapix3.png"  style="align-items: center" >
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-text-center">
    <ion-card-header>
      <ion-card-title>COMO USAR O SEU CASHBACK</ion-card-title>
    </ion-card-header>
  </ion-card>

  <div id="container">
    <ion-list *ngFor = "let info of informacoes">
      <ion-card text-center>
        <ion-item>
          <ion-avatar item-start>
            <img src="../../assets/imgs/cashback.png">
          </ion-avatar>
          <h2>CASHBACK</h2>
        </ion-item>
        <h2>{{info.msg}}</h2>

        <ion-row>
          <ion-col>
            <button ion-button icon-start clear small>
              <ion-icon name="thumbs-up"></ion-icon>
              <div>{{info.numLikes}} Likes</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-start clear small>
              <ion-icon name="text"></ion-icon>
              <div>{{info.numComments}} Comentários</div>
            </button>
          </ion-col>
          <ion-col align-self-center text-center>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-list>
  </div>

</ion-content>
